rag_chat/chroma_db/afeb2bdc-dc6e-45e7-b67b-af7f59b7f452/data_level0.bin
rag_chat/chroma_db/afeb2bdc-dc6e-45e7-b67b-af7f59b7f452/header.bin
rag_chat/chroma_db/afeb2bdc-dc6e-45e7-b67b-af7f59b7f452/length.bin
rag_chat/chroma_db/afeb2bdc-dc6e-45e7-b67b-af7f59b7f452/link_lists.bin
